body {
    background-color: #999999;
}
html,body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

#cc {
	width:640px;
	margin: 8px auto;
	padding: 64px 64px 10px 64px;
	box-sizing:border-box;
	text-align:center;
	opacity: 0.85;
	background: #f7f7f7;
	box-shadow: 1px 1px 6px #888888;
	font-family: "Helvetica";
    font-size: 120%;
}
#toplinks {
	position:relative;
	top:-40px;
	left:0px;
	width:100%;
	height:40px;
	margin-bottom:-40px;
	text-align:left;
}
div.title {
	font-size:30px;
	padding-bottom:30px;
}

div.links a {
	margin: 10px;
}